@font-face 
{
    font-family: HammersmithOne;
    src: url("./assets/fonts/HammersmithOne-Regular.ttf");
}
@font-face 
{
    font-family: Poppins;
    src: url("./assets/fonts/Poppins-Light.ttf");
}
@font-face 
{
    font-family: Poppins;
    src: url("./assets/fonts/Poppins-Medium.ttf");
    font-weight: 500;
}


* 
{
    box-sizing: border-box;
}
html 
{
    scroll-behavior: smooth; 
    margin: 0px;
    height: 100%;
    width: 100%;
}
.wrapper
{
    min-height: 100vh;
    margin: 0; padding: 0;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.container 
{
    margin: 0 auto;
}

.nav-list 
{
    min-width: 100vh;
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.nav-link 
{
    font-size: 24px;
    padding: 0 20px;
    line-height: 50px;
}
a {
    text-decoration: none;
    color:black;
}
.nav-item a:active
{
  text-decoration: none;
  color: #666;
} 
.nav-item a:hover{
    color:black;
    text-decoration: underline;
}
.nav-item{
    font-family: HammersmithOne;
    color:black;
}
@media screen and (max-width: 995px) {
    .header .nav-list {
      flex-direction: column;
    }
    .header .nav ul {
      flex-direction: column;
      align-self: center;
    }
    .header .nav ul li {
      margin: 5px;
    }
  }


.main 
{
    max-width: 1440px;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hi
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hi__photo_img {
    margin: 50px 50px;
}
.hi__name 
{
    font-family: HammersmithOne;
}
.hi__text{
    font-family: HammersmithOne;
}
.main-container 
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    max-width: 1440px;
    margin: 0 auto;
}  
.main__sections 
{
    display: flex;
    flex-wrap: wrap;
}
.main__sections__text {
    text-align: center;
}
.main__sections span {
    font-weight: bold;
}
.section 
{
    width: 50%;
}
.section h2{
    text-decoration: underline;
}
@media (max-width: 768px) 
{
    .section 
    {
      width: 100%;
    }
}
.main__sections_title 
{
    font-family: HammersmithOne;
    text-align: center;
}

.main__sections__text 
{
    font-family: Poppins;
    font-size: 20px;
    text-align: center;
}
.main__sections__text li{
    list-style: none;
}


.footer
{
    min-width: 100vh;
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
}
.footer-list 
{
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.footer-link 
{
    padding: 50px 20px;
    margin: 50px 50px;
    line-height: 50px;
}
